@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}


:root {
  --black: #333;
  --dark: #000000;
  --white: #ffffff;
  --primaryColor: #004370;
  --tertiaryColor: #0071BC;
  --floatActionColor: #DAF3FC;
  --stepActionColor: #D3D8DA;
  --borderBottomColor: #00AEEF;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.ant-layout-sider-children {
  overflow-x: hidden !important;
}

#light {
  background-color: var(--white);
}

#dark {
  background-color: var(--dark);
}

#light .light-menu {
  background-color: var(--white) !important;
  color: var(--dark) !important;
}

#dark .dark-menu {
  background-color: var(--dark) !important;
  color: var(--white) !important;
}

#light .site-layout .site-layout-background {
  background: var(--white) !important;
}

#dark .site-layout .site-layout-background {
  background: var(--dark) !important;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: var(--white);
  background-color: var(--primaryColor) !important;
}

#dark .dark-menu .trigger {
  color: var(--white);
}

#dark .light-menu .trigger {
  color: var(--dark);
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 30px;
  margin: 10px;
  display: block;
  text-align: center;
}

/* .site-layout .site-layout-background {
  background: #fff;
} */

.ant-layout-sider {
  box-shadow: 2px 2px 4px #33333326;
  width: 200px !important;
  min-width: 200px !important;
  max-width: 200px !important;
}

.ant-layout-sider-collapse {
  width: 80px !important;
  min-width: 80px !important;
  max-width: 80px !important;
  box-shadow: 2px 2px 4px #33333326;
}

.ant-layout-sider-trigger .ant-layout-sider-trigger-normal {
  width: 250px !important;
}

.ant-layout-sider-trigger .ant-layout-sider-trigger-collapse {
  width: 80px !important;
}

.ant-layout-header {
  box-shadow: 2px 2px 4px #33333326;
}

.ant-btn-primary {
  background-color: var(--primaryColor) !important;
}

.primary-btn {
  border-radius: 0 !important;
  box-shadow: 2px 2px 4px #3333334d !important;
  border: 0 !important;
  margin-left: 25px;
  margin-right: 25px;
}

.ant-switch-checked {
  background-color: var(--primaryColor) !important;
  border: 1px solid var(--primaryColor) !important;
}

.ant-switch-handle::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white) !important;
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgb(0 35 11 / 20%);
  transition: all 0.2s ease-in-out;
  content: '';
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--primaryColor) !important;
}

/* .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected 
.ant-menu-item .ant-menu-item-icon + span, .ant-menu-submenu-title 
.ant-menu-item-icon + span, .ant-menu-item .anticon + span, 
.ant-menu-submenu-title .anticon + span {
  color: var(--white) !important;
} */

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 5px solid var(--tertiaryColor) !important;
}

.ant-menu-inline>.ant-menu-item {
  height: 40px !important;
  line-height: 40px !important;
}

.profileImg {
  float: right;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 5px 12px !important;
  color: rgb(0 67 112) !important;
}

.profileicon {
  margin-right: 5px;
  font-size: 15px !important;
}

.profileuser {
  color: var(--primaryColor);
  font-weight: 600;
}

.ant-avatar {
  color: var(--white) !important;
  background: var(--primaryColor) !important;
}

.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 10px !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
  margin-left: 8px;
}

.ant-menu.ant-menu-inline-collapsed>.ant-menu-item,
.ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item,
.ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title,
.ant-menu.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
  color: var(--white) !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
  color: var(--black) !important;
  font-weight: 500;
}

.ant-card-type-inner .ant-card-body {
  padding: 8px 12px !important;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
  padding: 10px;
}

.ant-layout-footer {
  padding: 15px 15px !important;
  color: #ffffff !important;
  font-size: 14px;
  background: #2b3244 !important;
}

.rtf--ab__c>span {
  background-color: var(--floatActionColor) !important;
  color: var(--primaryColor) !important;
  border: 1px solid var(--primaryColor) !important;
  padding: 8px !important;
  width: 150px;
  font-weight: 700;
  text-align: center;
}

.ant-steps-navigation {
  padding-top: 3px !important;
}

.ant-steps-item-icon {
  margin: 0 6px 0 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 32px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  transition: background-color 0.3s, border-color 0.3s;
}

.ant-steps-item-icon .ant-steps-icon {
  position: relative;
  top: -1.5px !important;
  line-height: 2;
  left: 0px !important;
}


.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
  background: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
  box-shadow: 3px 3px 6px #3333335c;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon .ant-steps-icon {
  color: #fff;
  font-weight: 600 !important;
}

.ant-steps-item-wait .ant-steps-item-icon {
  background-color: #b1e0ff73 !important;
  border-color: #b1e0ff73 !important;
  font-weight: 600 !important;
  box-shadow: 3px 3px 6px #3333335c;
}

.ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon {
  color: #333 !important;
  font-weight: 700 !important;
}

.ant-steps-navigation .ant-steps-item::before {
  background-color: var(--tertiaryColor) !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #7bcd52 !important;
  border-color: #7bcd52 !important;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: #f7f8f9 !important;
  position: relative;
  top: -3px !important;
}

.rtf--ab {
  background-color: var(--primaryColor) !important;
}

.ant-form-item-label {
  font-weight: 600 !important;
  color: var(--black) !important;
  text-align: left !important;
}

.ant-form-item {
  margin-bottom: 5px !important;
}

.ant-input {
  height: 30px;
  border-radius: 0 !important;
  border: 1px solid var(--stepActionColor) !important;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  border-color: #ff4d4f !important;
}

.profileIcon {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}

.cardLayout {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px !important;
  padding: 0px !important;
  box-shadow: 3px 3px 4px #33333312;
}

.ant-card-type-inner .ant-card-head {
  padding: 0 10px !important;
  background: #fafafa;
}

.ant-card-head {
  min-height: 35px !important;
}

.headline1 {
  width: 7%;
  border-bottom: 3px solid var(--borderBottomColor);
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: -15px;
}

.ant-form-item-label>label::after {
  content: '' !important;
  position: relative;
  top: 9.5px;
  margin: 0 8px 0 2px;
}

.submitbtn {
  color: #fff;
  border-color: #034b7a !important;
  background-image: linear-gradient(90deg, #004370, #034b7a, #034b7a, #004370) !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%) !important;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 54%) !important;
  height: 35px !important;
  font-weight: 600 !important;
}

.submitbtn:hover,
.submitbtn:focus {
  background-position: 100% 0 !important;
  outline: none !important;
  border-color: none !important;
  background: #004370 !important;
}

.submitButtonAlign {
  float: right;
  margin-top: 15px;
  margin-bottom: 20px;
}

.ant-card-type-inner .ant-card-head-title {
  padding: 6px 0 !important;
  font-size: 14px !important;
  color: var(--black) !important;
  font-weight: 600;
}

.ant-btn>.anticon {
  line-height: 1;
  vertical-align: middle !important;
}

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.2);
  }
}

.ant-steps-item-icon,
.ant-steps-item-content {
  display: inline-block;
  vertical-align: middle !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  padding-left: 15px !important;
}

.rowmargin {
  margin-top: 5px !important
}

.ant-card-body {
  padding: 0 !important;
}

.backbtnAlign {
  margin-top: 5px;
  margin-right: 15px;
}

.backBtn {
  border: 1px solid var(--primaryColor) !important;
  color: var(--primaryColor) !important;
  font-size: 14px !important;
  border-radius: 0;
  box-shadow: 2px 2px 3px #b1b7bb !important;
  vertical-align: middle;
  font-weight: 600 !important;
  height: 35px !important;
  margin-bottom: 5px;
}

.ant-message .anticon {
  position: relative;
  top: -3px !important;
  margin-right: 8px;
  font-size: 16px;
}

.ant-form label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}