.containerLayout {
  padding: 10px 0 0;
}

.containerLayout1 {
  padding: 10px 10px 10px;
}

#dark .dark-menu .container {
  background: var(--dark);
  color: #fff;
}

#light .light-menu .container {
  background: var(--white);
  color: #333;
}

.backbtnAlign {
  margin-top: 5px;
  float: right;
  margin-right: 15px;
}

.backBtn {
  border: 1px solid var(--titleColor);
  color: var(--titleColor);
  font-size: 14px;
  border-radius: 0;
  box-shadow: 2px 2px 3px #b1b7bb;
  vertical-align: middle;
  font-weight: 600;
  width: 85px !important;
  height: 35px !important;
  margin-bottom: 5px;
}